@model List<AdminPageMVC.Entities.User>


    <div class="row" style="margin-top:120px">
        <div class="col-md-10  offset-2">
          
            <table class="table table-bordered table-striped user-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                          
                            <td>
                                <span>@user.Id</span>
                            </td>
                            <td>
                                <span class="view-mode">@user.FullName</span>
    
                            </td>
                            <td>
                                <span class="view-mode">@user.Email</span>
                               
                            </td>
                            <td>
                               
                                <button class="btn-warning" asp-controller="User" asp-action="UpdateUser" type="submit">Update</button>
                            </td>
                            <td>
                                <button class="btn-danger" asp-controller="User" asp-action="DeleteUser" type="submit">Delete</button>

                            </td>
                          
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>